/*
 * Common
 */

/* Global Reset */


body {
  background-color: white;
  font-family: helvetica, clean, sans-serif;
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 115%;
  margin-top: 1em;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

blockquote {
  margin-left: 3ex;
}

a {
  color: #304860;
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: #000;
}

table {
  font-size: inherit;
  font: 100%;
  border-collapse: separate;
  border-spacing: 0px 5px;
}

thead tr th {
    border-bottom: 1px solid rgb(170, 170, 170);
    border-spacing: 5px;
}
th {
    padding: 0px 10px;
}
td {
    padding: 0px 10px;
}

hr {
  height: 1px;
  border: none;
  color:#aaa;
  background-color: #aaa;
  margin: 1.5em auto;
}

ul,
ol {
  margin-left: 0.3em;
}

ul li,
ol li{
  margin-bottom: 5px;
}

/*
 * Home
 */

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*
 * Site
 */

.site {
  font-size: 110%;
  width: 800px;
  margin: 2em auto;
  padding: 10px;
  line-height: 1.5em;
}


@media (max-width: 800px) {
    .site {
        width: auto;
    }
}


.nav {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 2em;
  border-bottom:4px solid #eee;
  padding-bottom: 10px;
  overflow: auto;
}

.nav .brand{
  font-size: 120%;
}

.nav .links a:hover {
  color: black;
}

.nav .links a {
  display: inline-block;
  color: #666;
  text-decoration: none;
  margin: auto 5px;
}

.nav .links a:hover {
  color: black;
}

.nav .links {
  float: right;
  margin: auto 20px;
}

.nav .social {
  float: right;
}

.meta {
  color: #aaa;
}

.content{}

.content a{
  border-bottom: 1px dashed;
}

.content a:hover{
  background: #eee;
}


.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer a {
  text-decoration: none;
  border: none;
}

.footer .rss {
  margin-top: 1.1em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.footer .rss a {
  color: #8085C1;
}

.footnotes {
  margin-left: 3ex;
  margin-right: 3ex;
  color: #999;
}

.footnotes hr {
  display: none;
}

.footnotes a {
  color: #76baff;
}

/* Inputs */

input, textarea {
  font-size: inherit;
  margin: 5px -3px 0px;
  width: 98%;
}

/* Alerts */

.alert {
  padding: 15px;
  margin: 1em 0 18px;
  border: 1px solid transparent;
  border-radius: 2px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}



/*
 * Posts
 */

#post {

}

/* standard */

#post pre {
  border: 1px solid #dddddd;
  padding: 0.2px 0.4em;
  background-color: #fffcf6;
  margin-top: 1em;
  margin-bottom: 1em;
}

#post .language-zsh pre {
  background-color: #f4f4f4;
  margin: 1em 0;
}

#post .language-python pre {
  background-color: #f4f4f4;
  margin: 1em 0;
}


#post code {
  font-size: 90%;
  padding: 0.1px 0;
  font-family: "Hack", "Monaco", "Consolas", "Liberation Mono", "Menlo", monospace;
  color: #5d6063;
}

#post pre code {
  border: none;
}

/* terminal */

#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

#post pre.terminal code {
  background-color: #333;
}

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}

.home-panel {
  width: 80%;
  margin: 30px auto;
}

.home-panel .element {
  width: 150px;
  float: left;
  text-align: center;
  font-size: 115%;
  line-height: 40px;
}

.home-panel .element a {
  color: #4b61c0;
  text-decoration: none;
  font-weight: bold;
}
